{% extends 'base.html' %}

{% block title %}{{ lesson.lesson_name }} - Details{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<h1>{{ lesson.lesson_name }}</h1>
<p>
Lesson ID:  {{ lesson.lesson_id }}
</p>
<p>
  Sme:  <span id="sme_name">{{ sme.first_name}} {{ sme.last_name }}</span>
  </p>
  <p>
 
  # of enrollments: {{ lesson.enrollments }}
</p>
<form id="add-sme" method="POST">
  <input type="hidden" id="lesson_id" value="{{lesson.lesson_id}}">
  Need to update or add the SME for this lesson? No problem! <p></p>
  <label for="sme-id">
 
    Select SME name to be updated:
  </label>
  <select id="sme-id" name="sme_id">
    
    {% for sme in smes %}
      <option value="{{ sme.sme_id }}"> {{ sme.first_name}} {{sme.last_name }}</option>
    {% endfor %}
  </select>
  <button type="submit" id="submit">Submit</button>
</form>
<p>
 <p></p>
  By the way, this is a great time to contact the SME and let them know how their training has performed.
</p>
<a href = "mailto: {{sme.email}}?subject = CircleCI Academy Stats&body = Your CircleCI Academy Authored Lesson Stats">Send the SME an Email</a>


<!-- course image from CircleCI Academy to be imported in later sprint> -->
<!-- <img src=""> -->


<script src="/static/ajax.js"></script>
{% endblock %}